# 必ず守ること

- コードコメントは日本語で 既存のコードコメントは指示がない限り変えないこと
- ビルドエラーを直してとお願いされたら「npm run build」して成功するまで修正とビルドを繰り返すこと
- なるべくreact純正のhookよりmantine hookを利用すること
- 指示されるまではnpm run buildは行わない
- 指示されるまではAIのモデル名(gpt-4oなど)は勝手に変更しないこと

# ライブラリ概要

- 言語: TypeScript
- フレームワーク: Next.js  v15 AppRouter
- UI: mantine react v7
- hook: mantine hook
- 日付ライブラリ: Day.js
- lint: biome
